# Basic Server Config
server: 
    port: 9296

spring: 
    application: 
        name: CONFIG-SERVER
    
    # Cloud config for GIT
    cloud:
        config: 
            server: 
                git: 
                    uri: https://github.com/haiderrizvi1441/spring-app-configv2
                    clone-on-start: true

# Eureka Service Registry Configuration 
eureka:
  instance:
    prefer-ip-address: true
  client: 
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}
